Repository google/iree, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMNGeoffrey, @ScottTodd, @stellaraccident, @ghost, @benvanik, @rsuderman, @ThomasRaoux, @antiagainst, @MaheshRavishankar, @hanhanW

Add relative error for buffer comparison
  runtime/src/iree/tooling/buffer_view_matchers.c
  runtime/src/iree/tooling/buffer_view_matchers.h
  runtime/src/iree/tooling/buffer_view_matchers_test.cc
  runtime/src/iree/tooling/comparison.cc
Owners: @benvanik

Address reviwer comments
  runtime/src/iree/tooling/buffer_view_matchers.c
  runtime/src/iree/tooling/comparison.cc
Owners: @benvanik

flag formatting
  runtime/src/iree/tooling/comparison.cc
Owners: @benvanik

[Codegen][GPU] Keep range and divisibility annotations on push constants
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVEmulateI64.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/convert_to_spirv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/emulate_i64.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/DropCompilerHints.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
Owners: none

Preserve i64 assumes, address review comments
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/DropCompilerHints.cpp
Owners: none

[runtime][python] Allow to deref from VmRef to HalCommandBuffer
  runtime/bindings/python/hal.cc
Owners: @stellaraccident

[Flow] Always choose attention as the best op for dispatch annotation
  compiler/src/iree/compiler/Dialect/Flow/Transforms/AnnotateDispatches.cpp
Owners: none

Fix lit tests
  compiler/src/iree/compiler/DispatchCreation/test/attention_fuse_by_expansion.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/linalg_quantized_conv_to_conv.mlir
Owners: none

Enable collapse of dynamic dims
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ReshapeFusion.cpp
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
Owners: none

Fix output shape bug and add test
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/collapse_dimensions.mlir
Owners: none

[GlobalOptimization] Do not hoist fill-like operations
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
Owners: none

DNS - Turn on SpecializeEncoding pass by default.
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/plugins/target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
Owners: none

[LLVMGPU] Enable Matvec through vector distribute pipeline
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Owners: none

Only fuse gather-like producer for query operand of attention ops.
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
Owners: none

Add end-to-end tests for `iree_linalg_ext.custom_op`.
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/PartitionableLoopsInterface.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeAggregateOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_ext_ops/custom_op.mlir
Owners: none

Only consider linalg ops for mask
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
Owners: none

[LLVMGPU][DT] Add MaterializeDeviceEncodingPass to LLVMGPU passes behind flag
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Owners: none

Extend gather fusion pattern
  compiler/src/iree/compiler/DispatchCreation/ElementwiseOpFusion.cpp
  compiler/src/iree/compiler/DispatchCreation/test/elementwise_op_fusion.mlir
Owners: none

Increase vae decode dispatch count by 1
  .github/workflows/pkgci_regression_test.yml
Owners: @GMNGeoffrey, @ScottTodd

Make the distributed domain of `vector.create_mask` has the interleaved form as other distributions.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
Owners: none

[LLVMGPUVectorDistribute] Add support for distributing masked reads/writes
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.td
Owners: none

* rebase changes
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
Owners: none

[LLVMGPUVectorDistribute] Support vector.mask + vector.multi_reduce.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
Owners: none

Introduce MaskedOpDistributionPattern that provides a hook to provide vector.mask { op } rewrites.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorDistribution.h
Owners: none

[LLVMGPUVectorDistribute] Support vector.mask + vector.contract
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.td
Owners: none

[GPU] Match TileAndFuse Matmul heuristics to Vector Distribute
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Owners: none

Fix more ONNX errors
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors_fusion_with_transpose.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pad_fusion_with_producer.mlir
Owners: none

Add lit tests.
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Owners: none

Fix ONNX tests
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Owners: none

Fix result dynamic dim generation.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors_fusion_with_transpose.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pad_fusion_with_producer.mlir
Owners: none

[DispatchCreation] Changes to dispatch region in preparation for horizontal fusion changes.
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.h
Owners: none

Dont try to fuse other consumers after failure
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
Owners: none

Remove tranpose information from heuristics
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Owners: none

Test nanobind upstream fix
  CMakeLists.txt
Owners: none

* Bug fix the recombining layout builder * Make a VectorLayoutInterface static factory method to impose members to implement a recombination builder using layouts and maps.
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtInterfaces.td
Owners: none

Quick experiment for buffers
  compiler/src/iree/compiler/Codegen/Common/EraseHALDescriptorTypeFromMemRef.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Owners: none

Don't have bf16 be broken
  compiler/src/iree/compiler/Codegen/Common/ConvertBf16ToUInt16Buffers.cpp
Owners: none

polynomial-approx
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/PolynomialApproximationPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/polynomial_approximation.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Owners: none

[DispatchCreation] Turn Horizontal fusion on by default
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
Owners: none

Tweak transfer placement code
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning/ReferencePartitioning.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
Owners: none

.github/CODEOWNERS:

# Codeowners for IREE Github Repository.
# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for syntax of this file (tl;dr: syntax is like .gitignore. Last matching rule
# takes precedence).
# Because of the precedence, rules for directories are listed topologically.
# @ghost is used to make a pattern have no owners. It is a sentinel GitHub user
# that takes the place of deleted users.

# No global owners because we don't really want e.g. changing the root
# CMakeLists.txt file to always ping a bunch of people.

# Code owners for individual components/directories

# Third-Party Code
/.gitmodules @GMNGeoffrey @ScottTodd @stellaraccident
/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
# Except for routinely-updated submodules
/third_party/llvm-project @ghost
/third_party/tensorflow @ghost
/third_party/mlir-hlo @ghost

# Bindings
/bindings/python/ @stellaraccident
/runtime/bindings/python/ @stellaraccident
/runtime/bindings/tflite/ @benvanik

# Integrations
/integrations/ @benvanik @stellaraccident
/integrations/tensorflow/ @stellaraccident
/integrations/tensorflow/build_tools/ @GMNGeoffrey @stellaraccident
/integrations/tensorflow/test/**/iree_tfl_tests/ @rsuderman

# Experimental
# It's experimental, but we still don't want any old directory added here.
/experimental/ @benvanik @GMNGeoffrey @stellaraccident
/experimental/remoting/ @stellaraccident
/experimental/rocm/ @ThomasRaoux
/experimental/web/ @ScottTodd

# Infra Top-Level Directories
/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/ @GMNGeoffrey @ScottTodd
/build_tools/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/python_deploy/ @stellaraccident
/build_tools/scripts/ @GMNGeoffrey @ScottTodd
/build_tools/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
/.github/ @GMNGeoffrey @ScottTodd

# llvm-external-projects
/llvm-external-projects/ @stellaraccident
/llvm-external-projects/iree-dialects/ @MaheshRavishankar
/llvm-external-projects/iree-dialects/**/Dialect/LinalgExt/ @hanhanW @MaheshRavishankar
/llvm-external-projects/iree-dialects/test/iree_linalgext @hanhanW @MaheshRavishankar

# Other Top-Level Directories
/docs/ @ScottTodd


# Main IREE directories
/iree/ @benvanik

# Compiler
/compiler/Codegen/ @MaheshRavishankar
/compiler/Codegen/LLVMCPU/ @hanhanW @MaheshRavishankar
/compiler/Codegen/LLVMGPU/ @MaheshRavishankar @ThomasRaoux
/compiler/Codegen/Sandbox/ @hanhanW @MaheshRavishankar
/compiler/Codegen/SPIRV/ @antiagainst @MaheshRavishankar
/compiler/ConstEval/ @stellaraccident
/compiler/Dialect/Flow/ @MaheshRavishankar
/compiler/Dialect/Vulkan/ @antiagainst
/compiler/InputConversion/ @MaheshRavishankar @stellaraccident
/compiler/InputConversion/MHLO @hanhanW @MaheshRavishankar @rsuderman
/compiler/InputConversion/TOSA @MaheshRavishankar @rsuderman


# Runtime
/runtime/src/iree/ @benvanik
/runtime/src/iree/hal/cuda/ @ThomasRaoux
/runtime/src/iree/hal/cts/ @ScottTodd
/runtime/src/iree/hal/vulkan/ @antiagainst @ScottTodd

# Other IREE directories
/samples/ @ScottTodd
/iree/test/ @ghost
/iree/tools/ @benvanik @GMNGeoffrey
